#contenido
{
    width: 25%;
    height: 30%;
    top: 50px;
    left: 50px;
    position: absolute;
    z-index: 10;
    color: white;
    border: solid white;
}

#cesium{
    
    position: relative;
    
}



